<div class="container">
  <h2 id="bridalparty"><span class="sr-only">Bridal Party</span></h2>
</div>

<div class="container well">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img class="img-responsive" src="/assets/images/JaimeLeeRandall.jpg" alt="Jaime Lee Randall" />
        <div class="caption">
          <h3>Jaime Lee Randall<br /><small>Matron of Honor</small></h3>
          <p>She's my bestie. Jaime was there as I broke out of my childhood and has been there for me ever since. She's the most genuine, caring, giving and dependable friend I have. Oh and she's a brilliant musician and artist with vocals that come from someplace holy where lollipops grow on trees and the stars shine all day. If you're lucky she'll belt something out for you!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img class="img-responsive" src="/assets/images/AvraAckerman.jpg" alt="Avra Ackerman" />
        <div class="caption">
          <h3>Avra Ackerman<br /><small>Bridesmaid</small></h3>
          <p>Avra and I have been friends since medical school, a surprisingly long time ago. Our friendship started in the cadaver lab and has gained more life every year since then.  Her family adopted me when I was a homeless vagabond during school and now they're stuck with me. Avra is a huge activist for social medicine and justice and is trying to save 99% of the world. </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img class="img-responsive" src="/assets/images/CarrieKaufman2.jpg" alt="Carrie Kaufman" />
        <div class="caption">
          <h3 >Carrie Kaufman<br /><small>Bridesmaid</small></h3>
          <p>Yet another love story begun in the cadaver lab, Carrie and I share an appetite for adventure, risk and surgical knives. We have shared many shenanigans and travels together, climbing, skiing and just plain raising hell. We've maintained the trend since her move to Austin, TX and anticipate many more wild times ahead. She's a brilliant and caring OB and womanses doc and I count myself lucky to have her share our day.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img class="img-responsive" src="/assets/images/AmyHupe.jpg" alt="Amy Hupe" />
        <div class="caption">
          <h3>Amy Hupe<br /><small>Bridesmaid</small></h3>
          <p>Amy is my sister! She is a dedicated mother and wife to yet another of Luke's best friends. What can we say?! He knows how to pick 'em. She has dedicated her life to missions, living in Bangkok for the last 5+ years with her family. Their community center has become a place of refuge and new direction for the trafficked and downtrodden.  She was the first Burnett to tie the knot and now I'm thrilled she'll be able to return from the East with her family to participate in the festivities. The day would not be the same without her!</p>
        </div>
      </div>
    </div>
  </div><!-- end: .row -->

  <hr />

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img class="img-responsive" src="/assets/images/LukeBurnett.jpg" alt="Luke Burnett" />
        <div class="caption">
          <h3>Luke Burnett<br /><small>Best Man</small></h3>
          <p>This is all his fault.</p>
          <p>That's the short of it. He's the bride's brother and was at one time the groom's roommate. He's been our home away from home and all this would not be possible without his blessing.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img class="img-responsive" src="/assets/images/BrianHeadley.jpg" alt="Brian Headley" />
        <div class="caption">
          <h3>Brian Headley<br /><small>Groomsman</small></h3>
          <p>James and Brian go a long way back. End of story.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img class="img-responsive" src="/assets/images/ChrisShatswell.jpg" alt="Chris Shatswell" />
        <div class="caption">
          <h3>Chris Shatswell<br /><small>Groomsman</small></h3>
          <p>Way Hetero Life Partners, 'nuf said.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img class="img-responsive" src="/assets/images/KarlDahlfred.jpg" alt="Karl Dahlfred" />
        <div class="caption">
          <h3 class="media-heading">Karl Dahlfred<br /><small>Groomsman</small></h3>
          <p>Karl is James' older brother. He'll be flying in from Bangkok where coincidentally he is ALSO a missionary serving in a local seminary.</p>
        </div>
      </div>
    </div>
  </div><!-- end: .row -->
  <!-- <div class="row">
    <div class="col-md-6">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-thumbnail" src="/assets/images/.jpg" alt="" />
        </a>
        <div class="media-body">
          <h3 class="media-heading">Harleigh Dahlfred<br /><small>Honorable Mention</small></h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-thumbnail" src="/assets/images/.jpg" alt="" />
        </a>
        <div class="media-body">
          <h3 class="media-heading">Jon Peters<br /><small>Honorable Mention</small></h3>
          <p></p>
        </div>
      </div>
    </div>
  </div> --><!-- end: .row -->
</div><!-- end: .container -->