<div class="container welltop"></div>
<div class="container well">
  <h2 id="ceremony"><span class="sr-only">Ceremony</span></h2>
  <div class="row">
    <div class="col-md-6">
      <h3 id="family">Time Table of Events</h3>
      <p class="lead">We keep the traditional and formal on the down low, and prefer to go big on casual and fun.</p>
      <dl>
        <dt>1:45 PM</dt><dd>Shuttle departs Courtyard Marriott</dd>
        <dt>2:15 PM</dt><dd>Shuttle departs Wylie Inn</dd>
        <dt>2:30 PM</dt><dd>All guests arrive, and will be seated and arranged along rotunda</dd>
        <dt>3:00 PM</dt><dd>Ceremony, short and sweet</dd>
        <dt>3:45 PM</dt><dd>Informal extended family photos near rotunda (including James' 1st, 2nd, 3rd &amp; 4th cousins)</dd>
        <dt>4:00 PM</dt><dd>Games, cocktails and family-style appetizers</dd>
        <dt>5:00 PM</dt><dd>Let the lobster tales begin!</dd>
        <dt>6:00 PM</dt><dd>Dancing and games continue</dd>
        <dt>9:00 PM</dt><dd>Lights out and all must go</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <img class="img-thumbnail img-responsive pull-right" src="/assets/images/content/TucksRotunda.jpg" alt="Tuck's Point Rotunda" />
    </div>
  </div>
</div><!-- end: .container -->
<div class="container wellfoot">
  <p class="small text-center">Team Leah-James &copy; 2014 | <a href="/#/">The Short &amp; Sweet Version</a> | <a href="/#/bridalparty">Bridal Party</a> | <a href="/#/ceremony">Ceremony</span></a> | <a href="/#/rsvp">R.S.V.P.</a> | <a href="/#/reception">Reception</a> | <a href="/#/gifts">Gifts</a> | <a href="/#/travel">Travel Info</a> | <a href="#contactFormModal" data-toggle="modal" data-target="#contactFormModal">Get In Touch</a></p>
</div>