<div class="container" id="details">
  <p class="sr-only">Leah Burnett &amp; James Dahlfred. Tuck's Point, Manchester-by-the-Sea, MA. June 15, 2014 at 3 PM. Remember to bring an appetizer!</p>
</div><!-- end: .container -->
<div class="container">
  <p class="small text-center">Team Leah-James &copy; 2014 | <a href="/#/">The Short &amp; Sweet Version</a> | <a href="/#/bridalparty">Bridal Party</a> | <a href="/#/ceremony">Ceremony</span></a> |  <a href="/#/rsvp">R.S.V.P.</a> | <a href="/#/reception">Reception</a> | <a href="/#/gifts">Gifts</a> | <a href="/#/travel">Travel Info</a> | <a href="mailto:teamleahjames@gmail.com?subject=Yo Guys!">Get In Touch</a></p>
</div>