<div class="container">
  <h2 id="gifts"><span class="sr-only">Gifts</span></h2>
</div>

<div class="container well">

  <h3>Gifts</h3>
  <p>The very best present we can receive is your presence at our wedding, as well as your love and support as we embark on this adventure together.  We recognize that especially for those of you coming from far away, simply attending our wedding will already entail spending money on travel and accommodations. Homemade, handmade, and second hand gifts are welcome and appreciated. Many of you are contributing your time and energy to this event, and for that gift we thank you.</p>

  <p>For the more traditional gift givers among you, we have set up a registry on <a href="http://amazon.com">Amazon.com</a>.</p>

</div><!-- end: .container -->