<div class="container welltop"></div>
<div class="container well">
  <h2 id="gifts"><span class="sr-only">Gifts</span></h2>
  
  <h3>Gifts</h3>
  <p>The very best present we can receive is your presence at our wedding, as well as your love and support as we embark on this adventure together.  We recognize that especially for those of you coming from far away, simply attending our wedding will already entail spending money on travel and accommodations. Homemade, handmade, and second hand gifts are welcome and appreciated. Many of you are contributing your time and energy to this event, and for that gift we thank you.</p>

  <p>For the more traditional gift givers among you, we have set up a registry on <a href="http://amazon.com">Amazon.com</a>.</p>

</div><!-- end: .container -->
<div class="container wellfoot">
  <p class="small text-center">Team Leah-James &copy; 2014 | <a href="/#/">The Short &amp; Sweet Version</a> | <a href="/#/bridalparty">Bridal Party</a> | <a href="/#/ceremony">Ceremony</span></a> |  <a href="/#/rsvp">R.S.V.P.</a> | <a href="/#/reception">Reception</a> | <a href="/#/gifts">Gifts</a> | <a href="/#/travel">Travel Info</a> | <a href="mailto:teamleahjames@gmail.com?subject=Yo Guys!">Get In Touch</a></p>
</div>