<div class="container welltop"></div>
<div class="container well">
  <h2 id="gifts"><span class="sr-only">Gifts</span></h2>
  
  <h3>Gifts</h3>

  <p class="lead">The very best gift we can receive is your presence at our wedding, as well as your love and support as we embark on this adventure together.</p>
  <p>We recognize that especially for those of you traveling long distances, simply attending our wedding will already entail spending money on transportation and accommodations. Homemade, handmade, and second-hand gifts are welcome and appreciated.</p>

  <p>Also, many of you are contributing significant time and energy to this event, and for that we are more grateful than we'll ever be able to convey.</p>

  <h4>Our Honeymoon Fund</h4>

  <p>We're already pretty cozy as a family and have more than what we truly need. Since we've routed around convention we continue that theme with a nontraditional-type registry where you can contribute to our future who-knows-when-we'll-have-time <a href="http://honeymoonpixie.com/couples/teamleahjames/">honeymoon fund</a>!</p>

  <h4>Hold-in-your-hand Gifts</h4>

  <p>For the more traditional gift givers among you, we have set up a registry on <a href="http://www.amazon.com/registry/wedding/22VQ9QT2BFQN7" target="_blank">Amazon.com</a>. Gift cards are welcome for sure.</p>

  <h4>Charitable Gifts</h4>

  <p>If you're just coming for the free lobster and open bar, in lieu of a wedding gift, consider donating a few bucks towards these causes that we deeply and honestly believe are changing the world for the better.</p>

  <ul>
    <li>
      <p><a href="http://www.wordmadeflesh.org/thailand/">Word Made Flesh Thailand</a> works against exploitation, believing that all lives are intrinsically valuable because all are created by God in the image of God.</p>
    </li>
    <li>
      <p><a href="http://www.crowdrise.com/ubuntufund">Ubuntu Education Fund</a> is guided by a simple, all-encompassing, yet radical mission: to help raise Port Elizabeth, South Africa’s orphaned and vulnerable children by giving them what all children deserve—everything. See more at <a href="http://www.ubuntufund.org/">ubuntufund.org</a>.</p>
    </li>
    <li>
      <p><a href="http://tinysuperheroes.com/?product=sponsor-a-cape-for-a-tinysuperhero-from-the-waiting-lis">TinySuperheroes</a> seeks to empower Extraordinary kids — one cape at a time. They send capes to Extraordinary TinySuperheroes who exemplify strength and determination as they overcome illness or disability.</p>
    </li>
  </ul>

</div><!-- end: .container -->
<div class="container wellfoot">
  <p class="small text-center">Team Leah-James &copy; 2014 | <a href="/#/">The Short &amp; Sweet Version</a> | <a href="/#/bridalparty">Bridal Party</a> | <a href="/#/ceremony">Ceremony</span></a> | <a href="/#/rsvp">R.S.V.P.</a> | <a href="/#/reception">Reception</a> | <a href="/#/gifts">Gifts</a> | <a href="/#/travel">Travel Info</a> | <a href="#contactFormModal" data-toggle="modal" data-target="#contactFormModal">Get In Touch</a></p>
</div>