<div class="container welltop"></div>
<div class="container well">
  <h2 id="ceremony"><span class="sr-only">Ceremony</span></h2>
  <div class="row">
    <div class="col-md-6">
      <h3 id="family">Time Table of Events</h3>
      <p class="lead">We keep the traditional and formal on the down low, and prefer to go big on casual and fun.</p>
      <ul>
        <li>3 pm: Guests will be seated and arranged along rotunda</li>
        <li>3:15 pm: Ceremony, short and sweet</li>
        <li>4 pm: Games, cocktails and family-style appetizers</li>
        <li>5 pm: Let the lobster tales begin</li>
        <li>6 pm: Dancing and games continue</li>
        <li>9 pm: Lights out and all must go</li>
      </ul>
    </div>
    <div class="col-md-6">
      <img class="img-thumbnail img-responsive pull-right" src="/assets/images/content/TucksRotunda.jpg" alt="Tuck's Point Rotunda" />
    </div>
  </div>
</div><!-- end: .container -->
<div class="container wellfoot">
  <p class="small text-center">Team Leah-James &copy; 2014 | <a href="/#/">The Short &amp; Sweet Version</a> | <a href="/#/bridalparty">Bridal Party</a> | <a href="/#/ceremony">Ceremony</span></a> |  <a href="/#/rsvp">R.S.V.P.</a> | <a href="/#/reception">Reception</a> | <a href="/#/gifts">Gifts</a> | <a href="/#/travel">Travel Info</a> | <a href="mailto:teamleahjames@gmail.com?subject=Yo Guys!">Get In Touch</a></p>
</div>