<div class="container">
  <h2 id="ceremony"><span class="sr-only">Ceremony</span></h2>
</div>

<div class="container well">
  <div class="row">
    <div class="col-md-6">
      <h3 id="family">Time Table of Events</h3>
      <p class="lead">We keep the traditional and formal on the down low, and prefer to go big on casual and fun.</p>
      <ul>
        <li>3 pm: Guests will be seated and arranged along rotunda</li>
        <li>3:15 pm: Ceremony, short and sweet</li>
        <li>4 pm: Games, cocktails and family-style appetizers</li>
        <li>5 pm: Let the lobster tales begin</li>
        <li>6 pm: Dancing and games continue</li>
        <li>9 pm: Lights out and all must go</li>
      </ul>
    </div>
    <div class="col-md-6">
      <img class="img-thumbnail img-responsive pull-right" src="/assets/images/TucksRotunda.jpg" alt="Tuck's Point Rotunda" />
    </div>
  </div>
</div>