<div class="container" id="details">
  <p class="sr-only">Leah Burnett &amp; James Dahlfred. Tuck's Point, Manchester-by-the-Sea, MA. June 15, 2014 at 3 PM. Remember to bring an appetizer!</p>
</div>
<div class="container welltop"></div>
<div class="container well">
  <h3>The Story</h3>
  <div class="row">
    <div class="col-md-6">
      <p>Over a Christmas break, just two and a half years ago, Leah believed she was meeting James for the first time. But allegedly, they've known each other for nearly a decade. The way James tells it, he had once been terrified of his friend's sister, the girl with the bandana, bikini, and riding boots racing a tractor around the farm.</p>

      <p>Things happen for a reason and when the timing was right, these two met "again". Sparks flew and fear was nowhere to be found. Like two wild and kindred spirits they hit it off. As Leah flew back to her surgical residency in Pittsburgh just a few days later, they began an earnest attempt at keeping in touch and getting to know one another more. Emails, a book club, many long hours on the phone old-school style and the effort paid off. In just a few short months their relationship ignited. Distance <em>does</em> make the heart grow fonder.</p>

      <p>With the hesitant blessing of Luke, Leah’s brother and James' longtime friend and roommate, they continued to pursue each other. Within just a few more months they were engaged. This fast-moving trend continued as a family. In November of 2012 they experienced both the joy and terror of welcoming their daughter, Harleigh, 6 weeks early!</p>

      <p>Today they are as happy as ever, already learning to share the ups and downs of the adventure that is life together as a family.</p>

      <p>They are thrilled to share their story with you and to celebrate the life they’re building.<br />Their wedding is truly to be a celebration of the commitment they’ve made to one another and the beginning of only more exciting adventures together.</p>
    </div>
    <div class="col-md-6">
      <p><img class="img-thumbnail img-responsive" src="/assets/images/content/LeahJames.jpg" alt="James and Leah" /></p>
      <p class="caption text-muted text-right"><em>Adam never stood a chance against Eve.</em></p>
    </div>
  </div>
</div><!-- end: .container -->
<div class="container wellfoot">
  <p class="small text-center">Team Leah-James &copy; 2014 | <a href="/#/">The Short &amp; Sweet Version</a> | <a href="/#/bridalparty">Bridal Party</a> | <a href="/#/ceremony">Ceremony</span></a> | <a href="/#/rsvp">R.S.V.P.</a> | <a href="/#/reception">Reception</a> | <a href="/#/gifts">Gifts</a> | <a href="/#/travel">Travel Info</a> | <a href="#contactFormModal" data-toggle="modal" data-target="#contactFormModal">Get In Touch</a></p>
</div>