<div class="container">
  <h2 id="reception"><span class="sr-only">Reception</span></h2>
</div>

<div class="container well">

  <h3 id="family">Family Style!</h3>
  <p class="lead">Just like a good ole' Beverly Family Meal, here's what we're countin' on from you!</p>

  <div class="row">
    <div class="col-md-4">
      <h4>Bring your kids!</h4>
      <p>Yes! this is a family-friendly, kid-friendly event - please bring your kids! We'll need the count in the RSVP.</p>
      <p><img class="img-thumbnail img-responsive" src="/assets/images/Harleigh.jpg" /></p>
      <p>No, this does not include your neighbor's kids, your brother's kids or the church youth group.</p>
      <p>Children's meals will be available, but you may bring your own food if you have a picky eater or dietary restrictions.</p>
      <p>No, unfortunately there is no available refrigeration for bottles, breastmilk, or food.</p>
    </div>
    <div class="col-md-4">
      <h4>Bring an appetizer!</h4>
      <p>At Pittsburgh weddings they do a "cookie table". We're going to meld that family style feel with our recent PGH adventures and ask that our local friends &amp; family bring a platter of whatever appetizer you'd like to share.</p>
      <p>Please remember that there is *no refrigeration* available and it'll be just like any ol' picnic in the park. However, coolers of ice are WELCOME and some will be available if a brief cool place is needed during the ceremony.</p>
      <p>We promise you'll get your platters and dishes back! We'd like to use your own slight style differences to decorate! We'll provide the tape and markers, just throw a label on your platter/dish and it will get back to you.</p>
    </div>
    <div class="col-md-4">
      <h4>Do NOT bring your dog.</h4>
      <p>Unfortunately, this state park is NOT dog-friendly during June. Please leave your hairiest family members at home.</p>
      <p><img class="img-thumbnail img-responsive" src="/assets/images/Moses.jpg" /></p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <h3 id="music">Music</h3>
      <p class="lead"><a href="http://www.nebgb.com/">The New England Bluegrass Band</a></p>
      <p>Obviously, we are the dancing type. Wear your dancing shoes - this is going to be a hoedown (cuz you saw that coming). 
      Heels and other such discomforts frowned upon.</p>
    </div>
    <div class="col-md-6">
      <h3 id="photos">Photography</h3>
      <p class="lead"><a href="http://www.markteiwes.com/">Mark Tiewes</a> / <a href="https://www.wedpics.com/">WedPics</a></p>
      <p>Our official photographer is the super-talented <a href="http://www.markteiwes.com/">Mark Tiewes</a>.</p> 
      <p>But we're counting on your help too! Download and use the WedPics app for <a href="http://itunes.apple.com/app/wedpics/id549402355?ls=1&mt=8">iOS</a> or <a href="https://play.google.com/store/apps/details?id=com.dejami.WedPics&feature=nav_result">Android</a> and use wedding id <code>TeamLeahJames</code>.</p>
    </div>
  </div>

  <hr />

  <h3 id="venue">The Venue</h3>
  <p class="lead"><a href="https://www.google.com/maps/place/Tucks+Point/@42.5675947,-70.7786578,15z/data=!3m1!4b1!4m2!3m1!1s0x89e33da7ae48be53:0x542911090b053567">Tuck's Point, Manchester-by-the-Sea, MA</a></p>

  <p class="callout">
    This is an outdoor event; we will wed, rain or shine! There is a covered pavillion where we'll be dining and dancing, but if it looks cloudy, please bring an umbrella.<br />
    Entertainment provided will include good music, watching the ruckus, and many lawn-based activities.<br />
    <br />
    There are things that live outdoors which may also be in attendance: rays of warm or burning sunshine, cold, rain that is frequently wet, creepy crawlers and even possibly biters. We are told there is a low likelihood of bears and the zombie index for June is sufficiently low.<br />
    Please plan and dress accordingly.
  </p>

  <h4>A little background about this corner of historic New England</h4>

  <div class="row">
    <div class="col-md-4">
      <p><a href="http://www.manchester.ma.us/Pages/ManchesterMA_WebDocs/about"><img class="img-thumbnail img-responsive" src="/assets/images/TucksChowderhouse.jpg" alt="Tuck's Point Chowderhouse" /></a></p>
      <p>The Town of Manchester-by-the-Sea was included in a grant of land to the Massachusetts Bay Colony made in 1629 by Charles I, who signed the charter in that year. By June of the same year the first ship, the Talbot, dropped anchor in Manchester Harbor carrying settlers who were attracted by "the promise of a safe harbor, streams of water, the sheltering hills and an abundant opportunity for building fishweirs, which offered an almost ideal spot for the planting of a new settlement."</p>
      <p>Prior to the settlers’ arrival, the Agawams, a tribe of the Algonquins, inhabited all of eastern Massachusetts. The chief, or Sagamore, who ruled in this region was named Masconomo. He was a friendly, peace loving man whose tribe was decimated by a plague soon after the arrival of the settlers.</p>
    </div>
    <div class="col-md-4">
      <p>Manchester became "Manchester" in 1645, when the people of "Jeoffereyes Creeke" requested and were granted the village name. Before that, the area was part of the town of Salem, and before that belonged to the Algonquin Indians. The settlers acquired land by purchase or by "peaceful possession" until 1700, when a final payment was made to the grandson of Masconomo. At that time, the Native Americans relinquished all right, title, and interest in the land then comprising this township.</p>
      <p>Fishing and seafaring were the chief livelihoods of the early settlers. At one point the town had more than 40 sea captains commanding vessels. In the mid-1800s Manchester became a summer resort for the wealthy and well known. Presidents, princes, and ambassadors were among the many distinguished people who vacationed here. Notables from the theatrical world were attracted to the town, particularly after the opening of the Masconomo House, an elegant hotel at the corner of Beach and Masconomo Streets built by Junius Booth, brother of the infamous John Wilkes Booth.</p>
    </div>
    <div class="col-md-4">
      <p>During this period, because there were many Manchesters in New England, it became vogue to call the town "Manchester-by-the-Sea." The usage so irked Dr. Oliver Wendell Holmes that he headed his letters to Manchester friends "Boston-by-the-Charles."</p>
      <p>With a 12.8 mile tidal shore line, Manchester is probably best known for its beautiful beaches, a renowned yachting harbor, and commercial lobstering. It is governed by an open town meeting form of government with a board of five selectmen.</p>
      <p><a href="http://www.manchester.ma.us/Pages/ManchesterMA_WebDocs/about"><img class="img-thumbnail img-responsive" src="/assets/images/TucksRotunda2.jpg" alt="Tuck's Point Rotunda" /></a></p>
    </div>
  </div><!-- end: .row -->

  <h4>Why we chose this place!</h4>
  <p>It's closest to all that we hold dear in New England, Beverly, the salty water and fresh air. This park embodies the essence of family-style picnics and gatherings which have always kept our community of friends and family close. We were engaged at a similar family style park event and as we celebrate the next step of that journey we want to continue that family-style feel of backyard barbeques and games.</p>

  <br />

  <h4>Amenities and other frivolous offerings</h4>
  <p>There are onsite restrooms. However, remember that this is a PUBLIC PARK. There is a public beachfront but there is no lifeguard on duty.</p>

  <hr />

  <h3 id="food">The Sustenance</h3>
  <p class="lead">A little quick-n-dirty so you know which smock to bring!</p>

  <div class="row">
    <div class="col-md-6">
      <h4>Ipswich Clambake Co.</h4>
      <img class="img-responsive img-thumbnail pull-left" style="margin-right:10px;" src="/assets/images/IpswichClambakeCo2.jpg" alt="Ipswich Clambake" />
      <p>It's a clambake! Lobster, clam chowder, potato salad, etc. Vegetarian and non-seafood options will be available. Please be SURE TO TELL US your preferences in the RSVP. Kids meals will also be available for the children attending.<p> 
      <p>WE LOVE these guys so no complaints will be allowed!</p>
    </div>
    <div class="col-md-6">
      <h4>Beverages</h4>
      <img class="img-responsive img-thumbnail pull-right" style="margin-left:10px;" src="/assets/images/beverages.jpg" alt="Tasty beverages" />
      <p>Multiple refreshments will be provided, both virgin and deflowered varieties. Please drink responsibly and remember that it's a PUBLIC park and not our own 30 Bartlett St. We'd like to be environmentally friendly so try to KEEP YOUR CUPS.<p>
      <p>Please Note: all shoes lost on the roof will be left behind.</p>
    </div>
  </div>

</div><!-- end: .container -->