<div class="container welltop"></div>
<div class="container well">
  <h2 id="travel"><span class="sr-only">Travel Info</span></h2>
  
  <h3 id="hotels">Hotels</h3>
  <p>Hello! We have held rooms at these two hotels. 
  Rooms are blocked for both Saturday, June 14th and Sunday, June 15th.<br />These will be held at special rates until varying dates in May 2014.</p>
  <p>It is graduation and wedding season in June and there are only a limited number of rooms at each hotel.</p>

  <div class="row">
    <div class="col-md-6">
      <address>
        <h4>Wylie Inn</h4>
        <dl class="dl-horizontal">
          <dt><span class="glyphicon glyphicon-map-marker"></span></dt>
          <dd><a href="https://www.google.com/maps/place/Wylie+Inn+and+Conference+Center/@42.55281,-70.848357,17z/data=!4m2!3m1!1s0x89e316651f7b1a25:0x872b4b2079177f7a">295 Hale Street, Beverly, MA 01915</a></dd>
          <dt><span class="glyphicon glyphicon-earphone"></span></dt>
          <dd><a href="tel:+19788671800">(978) 867-1800</a></dd>
        </dl>
      </address>
      <p><img class="img-responsive img-thumbnail" src="/assets/images/content/WylieInn.jpg" alt="Wylie Inn" /></p>
      <p><em>Seaside location, 2 miles from the wedding, limited availability.</em></p>
      <p>Call and request rooms for the <strong>Burnett/Dahlfred Wedding</strong> by <strong>Thursday, May 15th</strong>.</p>
    </div>
    <div class="col-md-6">
      <address>
        <h4>Courtyard Marriott</h4>
        <dl class="dl-horizontal">
          <dt><span class="glyphicon glyphicon-map-marker"></span></dt>
          <dd><a href="https://www.google.com/maps/place/Courtyard+Boston+Danvers/@42.55463,-70.937636,17z/data=!3m1!4b1!4m2!3m1!1s0x89e313d959cf1ad5:0xa45bb992b5a9a2ea">275 Independence Way, Danvers, MA 01923</a></dd>
          <dt><span class="glyphicon glyphicon-earphone"></span></dt>
          <dd><a href="tel:+18003212211">(800) 321-2211</a></dd>
        </dl>
      </address>
      <p><img class="img-responsive img-thumbnail" src="/assets/images/content/CourtyardMarriott.jpg" alt="Courtyard Marriott" /></p>
      <p><em>Right off the highway, plenty of availability.</em></p>
      <p>Call and request rooms for the <strong>Burnett/Dahlfred Wedding</strong> by <strong>Friday, May 30th</strong>.</p>
    </div>
  </div>

  <hr />

  <h3 id="bnb">Bed &amp; Breakfasts</h3>
  <p>If you prefer to be more adventurous, this is a list of a few other accommodations in the area.<p>
  <p>We have no reserved rooms or affiliation, we just think they are lovely spots.</p>

  <div class="row">
    <div class="col-md-4">
      <address>
        <h4>Old Corner Inn</h4>
        <dl class="dl-horizontal">
          <dt><span class="glyphicon glyphicon-map-marker"></span></dt>
          <dd><a href="https://www.google.com/maps/place/Old+Corner+Inn/@42.568781,-70.785545,17z/data=!4m2!3m1!1s0x0:0x32ce2b65a492952">2 Harbor St<br />Manchester-by-the-Sea, MA 01944</a></dd>
          <dt><span class="glyphicon glyphicon-earphone"></span></dt>
          <dd><a href="tel:+19785264996">(978) 526-4996</a></dd>
          <dt><span class="glyphicon glyphicon-link"></span></dt>
          <dd><a href="http://www.theoldcornerinn.com">www.theoldcornerinn.com</a></dd>
          <dt><span class="glyphicon glyphicon-star"></span></dt>
          <dd><a href="https://plus.google.com/102732670237684037747/about?hl=en&gl=us">2 Google reviews</a></dd>
        </dl>
      </address>
    </div>
    <div class="col-md-4">
      <address>
        <h4>Colonial Inn</h4>
        <dl class="dl-horizontal">
          <dt><span class="glyphicon glyphicon-map-marker"></span></dt>
          <dd><a href="https://www.google.com/maps/place/Colonial+Inn/@42.6019,-70.654051,17z/data=!4m2!3m1!1s0x89e3253c53ba982b:0x3043b138e5046971">28 Eastern Point Rd<br />Gloucester, MA 01930</a></dd>
          <dt><span class="glyphicon glyphicon-earphone"></span></dt>
          <dd><a href="tel:+19782811953">(978) 281-1953</a></dd>
          <dt><span class="glyphicon glyphicon-link"></span></dt>
          <dd><a href="http://www.inngloucester.com">www.inngloucester.com</a></dd>
          <dt><span class="glyphicon glyphicon-star"></span></dt>
          <dd><a href="https://plus.google.com/102582836407036193174/about?hl=en&gl=us">3 Google reviews</a></dd>
        </dl>
      </address>
    </div>
    <div class="col-md-4">
      <address>
        <h4>Inn Magnolia</h4>
        <dl class="dl-horizontal">
          <dt><span class="glyphicon glyphicon-map-marker"></span></dt>
          <dd><a href="https://www.google.com/maps/place/Inn+Magnolia/@42.57786,-70.712098,17z/data=!3m1!4b1!4m2!3m1!1s0x89e33b5e133a6c89:0x53a2a81cfc4466e8">18 Norman Ave<br />Gloucester, MA 01930</a></dd>
          <dt><span class="glyphicon glyphicon-earphone"></span></dt>
          <dd><a href="tel:+19785253642">(978) 525-3642</a></dd>
          <dt><span class="glyphicon glyphicon-link"></span></dt>
          <dd><a href="http://www.innmagnolia.com">www.innmagnolia.com</a></dd>
          <dt><span class="glyphicon glyphicon-star"></span></dt>
          <dd><a href="https://plus.google.com/108634033353209681450/about?hl=en&gl=us">11 Google reviews</a></dd>
        </dl>
      </address>
    </div>
    <div class="col-md-4">
      <address>
        <h4>Harbor Light Inn</h4>
        <dl class="dl-horizontal">
          <dt><span class="glyphicon glyphicon-map-marker"></span></dt>
          <dd><a href="https://www.google.com/maps/place/Harbor+Light+Inn/@42.506091,-70.848315,17z/data=!3m1!4b1!4m2!3m1!1s0x89e315a80227c9bb:0x2e6fd37981775853">58 Washington St<br />Marblehead, MA 01945</a></dd>
          <dt><span class="glyphicon glyphicon-earphone"></span></dt>
          <dd><a href="tel:+17816312186">(781) 631-2186</a></dd>
          <dt><span class="glyphicon glyphicon-link"></span></dt>
          <dd><a href="http://www.harborlightinn.com">www.harborlightinn.com</a></dd>
          <dt><span class="glyphicon glyphicon-star"></span></dt>
          <dd><a href="https://plus.google.com/107245956763735093425/about?hl=en&gl=us">9 Google reviews</a></dd>
        </dl>
      </address>
    </div>
    <div class="col-md-4">
      <address>
        <h4>Quarterdeck Inn by the Sea</h4>
        <dl class="dl-horizontal">
          <dt><span class="glyphicon glyphicon-map-marker"></span></dt>
          <dd><a href="https://www.google.com/maps/place/The+Quarterdeck+Inn+By+The+Sea/@42.671975,-70.622612,17z/data=!3m1!4b1!4m2!3m1!1s0x89e3261e2ef0273f:0x37af9ef95c050d9b">123 Granite St<br />Rockport, MA 01966</a></dd>
          <dt><span class="glyphicon glyphicon-earphone"></span></dt>
          <dd><a href="tel:+19785460050">(978) 546-0050</a></dd>
          <dt><span class="glyphicon glyphicon-link"></span></dt>
          <dd><a href="http://www.thequarterdeckinnbythesea.com/">www.thequarterdeckinnbythesea.com</a></dd>
          <dt><span class="glyphicon glyphicon-star"></span></dt>
          <dd><a href="https://plus.google.com/112922942360833718288/about?hl=en&gl=us">8 Google reviews</a></dd>
        </dl>
      </address>
    </div>
    <div class="col-md-4">
      <address>
        <h4>Sally Webster Inn</h4>
        <dl class="dl-horizontal">
          <dt><span class="glyphicon glyphicon-map-marker"></span></dt>
          <dd><a href="https://www.google.com/maps/place/Sally+Webster+Inn/@42.655581,-70.612673,17z/data=!3m1!4b1!4m2!3m1!1s0x89e328acfc8f527d:0xf89c26f6c141ea7e">34 Mt Pleasant St<br />Rockport, MA 01966</a></dd>
          <dt><span class="glyphicon glyphicon-earphone"></span></dt>
          <dd><a href="tel:+19785469251">(978) 546-9251</a></dd>
          <dt><span class="glyphicon glyphicon-link"></span></dt>
          <dd><a href="http://www.sallywebster.com">www.sallywebster.com</a></dd>
        </dl>
      </address>
    </div>
  </div>

  <hr />

  <h3 id="airbnb">Airbnb.com</h3>
  <p>This is an online service where people rent out their own homes and apartments for a night, a month, or whatever.  We've really hit gold here sometimes! <a href="https://www.airbnb.com/s/Manchester--MA--United-States?checkin=06%2F14%2F2014&checkout=06%2F15%2F2014&guests=2&source=bb">Browse for a place</a>.</p>

  <p>If you have any other preferences, questions or need help finding somewhere fun, please let us know and we'll try to direct you.</p>
  <hr />

  <h3>While you're in the area&hellip;</h3>
  <p>You should take advantage of the nearby gorgeous beaches, oceanside walking trails, whale watching boat tours, and quaint New England towns in which to eat, shop, and sightsee.</p>
  <p>Some of our favorite spots include:</p>
  <ul>
    <li>Singing Beach in Manchester and Good Harbor Beach and Magnolia Beach in Gloucester</li>
    <li>Bear Skin Neck in Rockport (painfully cute oceanside town)</li>
    <li>Russell Orchard in Ipswich offers great apple picking and cider doughnuts</li>
    <li>The Peabody Essex Museum and the Salem Witch Museum for a bit of culture and history</li>
    <li>The Coolidge Estate in Manchester for a scenic and relaxing coastal walk</li>
  </ul>

</div><!-- end: .container -->
<div class="container wellfoot">
  <p class="small text-center">Team Leah-James &copy; 2014 | <a href="/#/">The Short &amp; Sweet Version</a> | <a href="/#/bridalparty">Bridal Party</a> | <a href="/#/ceremony">Ceremony</span></a> |  <a href="/#/rsvp">R.S.V.P.</a> | <a href="/#/reception">Reception</a> | <a href="/#/gifts">Gifts</a> | <a href="/#/travel">Travel Info</a> | <a href="mailto:teamleahjames@gmail.com?subject=Yo Guys!">Get In Touch</a></p>
</div>